<div class="min-h-screen flex flex-col items-center p-6 bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200">
  <h1 class="text-3xl font-bold mb-6">Trainee Student Information Form</h1>

  <!-- Add New Form Button -->
  <button
    class="px-6 py-2 mb-4 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none dark:bg-red-700 dark:hover:bg-red-600"
    (click)="openForm()"
  >
    + Fill Trainee Student Form
  </button>

  <!-- Table for Displaying Forms -->
  <div class="w-full max-w-6xl overflow-x-auto mt-4">
    <table class="w-full border-collapse text-left bg-white dark:bg-gray-800 rounded-lg shadow-lg">
      <thead class="bg-gray-100 dark:bg-gray-700">
      <tr>
        <th class="border-b p-2">Name</th>
        <th class="border-b p-2">Surname</th>
        <th class="border-b p-2">Student No</th>
        <th class="border-b p-2">Course</th>
        <th class="border-b p-2">Evaluating Faculty</th>
        <th class="border-b p-2">Coordinator Approval</th>
        <th class="border-b p-2">Company Approval</th>
        <th class="border-b p-2">Supervisor Report</th>
        <th class="border-b p-2">Report Status</th>
        <th class="border-b p-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let form of sortedForms; let i = index" class="hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="border-b p-2">{{ userFirstName }}</td>
        <td class="border-b p-2">{{ userLastName }}</td>
        <td class="border-b p-2">{{ userName }}</td>
        <td class="border-b p-2">{{ form.code }}</td>

        <td class="border-b p-2">Not Assigned</td>
          @if (form.status == "WaitingForCoordinatorApproval") {
            <td class="border-b p-2 negative-status">Not Approved</td>
          } @else {
            <td class="border-b p-2 positive-status">Approved</td>
          }
        @if (form.status == "WaitingForCompanyApproval" || form.status == "WaitingForCoordinatorApproval") {
          <td class="border-b p-2 negative-status">Not Approved</td>
        } @else {
          <td class="border-b p-2 positive-status">Approved</td>
        }
        <td class="border-b p-2 negative-status">Not Submitted</td>
        @if (form.status == "Graded") {
          <td class="border-b p-2 positive-status">Approved</td>
        }
        @else if (form.status == "WaitingForGrading") {
          <td class="border-b p-2">>Waiting For Grading</td>
        }
        @else if (form.status == "WaitingForFormatApproval") {
          <td class="border-b p-2">Waiting For Format Approval</td>
        }
        @else if (form.status == "WaitingForReportUpload") {
          <td class="border-b p-2">Waiting For Upload</td>
        }
        @else {
          <td class="border-b p-2">Waiting For Upload</td>
        }
        <td class="border-b p-2">
          <div class="flex space-x-2">
            <button
              class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none"
              (click)="editForm(i)"
            >
              Edit
            </button>
            <button
              class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 focus:outline-none"
              (click)="deleteForm(i)"
            >
              Delete
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal for Adding/Editing Forms -->
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50 "
    *ngIf="isFormVisible">
    <div class="bg-white w-full max-w-lg p-6 rounded-lg shadow-lg overflow-y-auto relative dark:bg-gray-800 mt-6" [ngStyle]="{'margin-top': isAddingNewCompany ? '160px' : '160px' ,'margin-bottom': isAddingNewCompany ? '100px' : '100px', 'max-height': isAddingNewCompany ? 'calc(100vh - 160px)' :  'calc(100vh - 160px)' }" style=" margin-top: 60px;">

      <button
        class="absolute bg-white top-4 right-4 text-xl font-semibold text-gray-500 hover:text-gray-800"
        (click)="closeModal()">
        X
      </button>
  <div class="w-full ">
    <h2 class="text-xl font-bold mb-4">{{ isEditing ? 'Edit' : 'New' }} Internship Form</h2>
    <form (ngSubmit)="submitForm()">
      <!-- Student No -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Student No *</label>
        <input
          type="text"
          [value]="userName"
          name="studentNo"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          disabled
        />
      </div>

      <!-- Name -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Name *</label>
        <input
          type="text"
          [value]="userFirstName"
          name="name"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          disabled
        />
      </div>

      <!-- Surname -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Surname *</label>
        <input
          type="text"
          [value]="userLastName"
          name="surname"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          disabled
        />
      </div>

      <!-- Course -->
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-500">Course *</label>
        <select
          [(ngModel)]="formData.code"
          name="course"
          class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          required
        >
          <option value="CNG300">CNG300</option>
          <option value="CNG400">CNG400</option>
        </select>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Internship Start Date</label>
          <input
            type="date"
            [(ngModel)]="formData.startDate"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
            required
          />
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Internship End Date</label>
          <input
            type="date"
            [(ngModel)]="formData.endDate"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
            required
          />
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Company</label>
        <select
          [(ngModel)]="formData.company"
          (change)="onCompanyChange($event)"
          class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          [disabled]="isAddingNewCompany">
          <option *ngFor="let comp of companies" [value]="comp">{{ comp }}</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="flex items-center text-gray-500">
          <input
            type="checkbox"
            [(ngModel)]="isAddingNewCompany"
            class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          Add New
        </label>
      </div>

      <!-- Additional Location Fields -->
      <div *ngIf="isAddingNewCompany" class="space-y-4 mb-4">
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Company Name</label>
          <input
            type="text"
            [(ngModel)]="formData.newCompany.name"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>

      </div>

      <!-- Branch Selection or Addition -->
      <div *ngIf="!isAddingNewCompany" class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Branch</label>
        <select
          [(ngModel)]="formData.branch"
          (change)="onBranchChange($event)"
          class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600"
          [disabled]="isAddingNewBranch">
          <option *ngFor="let branch of branches" [value]="branch">{{ branch }}</option>
        </select>

        <label class="flex items-center mt-2 text-gray-500">
          <input
            type="checkbox"
            [(ngModel)]="isAddingNewBranch"
            class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
          Add New Branch
        </label>
      </div>

      <div *ngIf="isAddingNewBranch || isAddingNewCompany" class="space-y-4 mb-4">
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Name</label>
          <input
            type="text"
            [(ngModel)]="formData.newBranch.name"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Address</label>
          <input
            type="text"
            [(ngModel)]="formData.newBranch.address"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Tel</label>
          <input
            type="text"
            [(ngModel)]="formData.newBranch.tel"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Country</label>
          <select
            [(ngModel)]="formData.newBranch.country"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600">
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
        </div>
        <div>
          <label class="block text-sm font-medium mb-2 text-gray-500">Branch Email</label>
          <input
            type="email"
            [(ngModel)]="formData.newBranch.email"
            class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Position</label>
        <input
          type="text"
          [(ngModel)]="formData.position"
          class="block w-full border rounded-lg p-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Type</label>
        <div class="space-y-2">
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="type"
              value="Voluntary"
              [(ngModel)]="formData.type"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            Voluntary
          </label>
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="type"
              value="Compulsory"
              [(ngModel)]="formData.type"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            Compulsory
          </label>
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-sm font-medium mb-2 text-gray-500">Health Insurance</label>
        <div class="space-y-2">
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="insurance"
              value="yes"
              [(ngModel)]="formData.healthInsurance"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            I have health insurance
          </label>
          <label class="flex items-center text-gray-500">
            <input
              type="radio"
              name="insurance"
              value="no"
              [(ngModel)]="formData.healthInsurance"
              class="mr-2 focus:ring-2 focus:ring-red-500 focus:outline-none dark:bg-gray-700 dark:text-white dark:border-gray-600" />
            I don’t have health insurance
          </label>
        </div>
      </div>


      <!-- Buttons -->
      <div class="flex justify-end mt-4">
        <button
          type="button"
          class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg hover:bg-gray-300 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 mr-2"
          (click)="closeForm()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700"
          (click)="refresh()"
        >
          {{ isEditing ? 'Update' : 'Submit' }}

        </button>
      </div>
    </form>
    </div>
    </div>
  </div>
</div>
